@import "catppuccin.css";

* {
  background: none;
  border: none;
  border-radius: 8px;
  color: @text;
  font-family: Iosevka Aile, sans-serif;
  font-size: 12px;
}

/* All modules */
#custom-logo, #cpu-use, #mem-use, #workspaces, #tray, #clock-widget {
  background: @base;
  padding-left: 12px;
  padding-right: 12px;
}

#mpris-widget {
  background: @base;
}

/* Specific modules */
#custom-logo {
  color: @blue;
  font-family: IosevkaNF;
  font-size: 18px;
  padding-right: 20px;
}

#custom-cpu-logo {
  /* color: @blue; */
  font-family: IosevkaNF;
  font-size: 18px;
  padding-right: 20px;
}

#cpu.usage-by-core {
  padding-left: 12px;
}

#custom-mem-logo {
  /* color: @blue; */
  font-family: IosevkaNF;
  font-size: 18px;
  padding-right: 20px;
}

#custom-mpris-logo {
  /* color: @blue; */
  font-family: IosevkaNF;
  font-size: 18px;
  /* padding-right: 20px; */
}

#mpris.player-status {
  /* color: @blue; */
  font-family: IosevkaNF;
  font-size: 18px;
  /* padding-right: 20px; */
}

#custom-clock-logo {
  /* color: @blue; */
  font-family: IosevkaNF;
  font-size: 18px;
  /* padding-right: 20px; */
}

#custom-clock-date-logo {
  /* color: @blue; */
  font-family: IosevkaNF;
  font-size: 18px;
  /* padding-right: 20px; */
}
