@import "catppuccin.css";

* {
  background: none;
  border: none;
  border-radius: 8px;
  color: @text;
  font-family: Iosevka Aile, sans-serif;
  font-size: 12px;
}

/* All modules */
#custom-logo, #cpu-use, #mem-use, #workspaces, #mpris-widget, #tray, #clock-widget {
  background: @base;
  padding-left: 12px;
  padding-right: 12px;
}

/* Specific modules */
#custom-logo {
  color: @blue;
  font-family: IosevkaNF;
  font-size: 18px;
  padding-right: 20px;
}

#custom-cpu-logo, #custom-mem-logo, #custom-clock-logo, #custom-clock-date-logo {
  font-family: IosevkaNF;
  font-size: 18px;
  padding-right: 18px;
}

#cpu.usage-by-core {
  padding-left: 12px;
}

#custom-mpris-logo {
  font-family: IosevkaNF;
  font-size: 18px;
  padding-right: 6px;
}

#mpris.player-status {
  font-family: IosevkaNF;
  font-size: 18px;
  padding-left: 12px;
  padding-right: 2px;
}

#mpris {
  padding-left: 16px;
}

#custom-clock-date-logo {
  padding-left: 18px;
}
