* {
	all: unset;
	font-family: "Iosevka";
}

.solid-bg {
	background-color: #1a1b26;
	border-radius: 20px;
}

.blur-bg {
	background-color: transparentize(#565f89, 0.8);
}

.bar-widget {
	margin: 16px 4px;
	padding: 0;
}

.bar-clock-widget {
	color: #7aa2f7;
	font-size: 10pt;
	margin: 0;
	padding: 0;
}

.0,
.01, .02, .03, .04, .05, .06, .07, .08, .09 {
	color: #565f89;
}

.011, .022, .033, .044, .055, .066, .077, .088, .099 {
	color: #7aa2f7;
}

.0,
.01, .02, .03, .04, .05, .06, .07, .08, .09,
.011, .022, .033, .044, .055, .066, .077, .088, .099 {
	font-size: 18;
	margin: 0;
	padding: 0;
}

.syslogo-widget, .clock-widget,
.music-widget, .todo-widget, .weather-widget {
	background-color: #7aa2f7;
	border-radius: 20px;
	color: #1a1b26;
}

.hostname-widget {
	color: #7aa2f7;
	font-size: 36pt;
	margin: 0;
	padding: 0;
}

.todo-widget-title {
	font-size: 24pt;
}

.clock-widget-bigtext, .weather-widget-forecast {
	font-size: 40pt;
	font-weight: bold;
}

.clock-widget-smalltext, .weather-widget-title {
	font-size: 30pt;
}

.music-widget-title {
	font-size: 48pt;
	font-weight: bold;
}

.music-widget-artist {
	font-size: 36pt;
	font-weight: bold;
}

scale trough {
	border-radius: 8px;
	background-color: #414868;
}

scale trough highlight {
	border-radius: 8px;
	min-width: 1px;
	min-height: 16px;
	background-color: #1a1b26;
}
